@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

.navbar {
    width: 100%;
    height: 40px;
    background-color: rgb(32, 32, 32);

    .logo {
        color: aqua;
        font-size: 1.8rem;
        font-family: 'Orbitron', sans-serif;
        line-height: 40px;
        margin-left: 20px;
    }
}