
* {
    margin: 0;
    padding: 0;        
    box-sizing: border-box;
}

.app {
    background-color: #000;
    height: 100vh;
    overflow: hidden;
    
    .pos {
        height: 100vh;
        display: flex;                
    }        
}